<h1>Cars Area</h1>

{{#link-to 'cars.new'}}Create Car{{/link-to}}

{{outlet}}
 <hr>

 
<ul class="list-group">
	{{#each model as |car|}}
		<li class="list-group-item">
			
            {{car.year}} - {{car.make}} - {{car.model}} 
            
            {{#link-to 'cars.edit' car.id tagName='button'}}

                Edit Car
            {{/link-to}}
            
            <button{{action 'deleteCar' car.id}}>
                 Delete
            </button>
		</li>
	{{/each}}
</ul>