<h1>Cars Area</h1>

{{#link-to 'cars.new'}}Create Car{{/link-to}}

{{outlet}}
 <hr>
<ul>
	{{#each model as |car|}}
		<li>
			
            {{car.year}} - {{car.make}} - {{car.model}} 
			
            - {{#link-to 'cars.edit' car.id}}Edit Car{{/link-to}}
            
            <button{{action 'deleteCar' car.id}}>
                 Delete
            </button>
		</li>
	{{/each}}
</ul>